.ProductListing {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ProductListing__container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.ProductListing__loading {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aquamarine;
    width: 100%;
    flex: 1;
}