.ProductListing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProductListing__container {
    width: min(1200px, 90vw);

    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.ProductListing__loading {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aquamarine;
}