.ProductCard {
    display: grid;
    grid-template-rows: 1fr auto 2rem;
    gap: 0.3rem;

    height: auto;
    width: 15rem;

    background-color: hsla(0, 0%, 95%, 1);
    border-radius: 0.2rem;

    padding: 0.5rem;

    color: black;
    text-decoration: none;
}

.ProductCard:hover{
    cursor: pointer;
}

.ProductCard__image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.ProductCard__title {
    width: 100%;
    font-size: 1rem;
}

.ProductCard__footing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProductCard__price{
    font-family: monospace;
}