.SearchPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SearchPage__form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.SearchPage__formInput{
    flex:1;
}